/*================= Global =================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -ms-overflow-style: none;       /* IE and Edge */
    scrollbar-width: none;          /* Firefox */
    overflow-x: hidden;
    -webkit-user-select: none;      /* Safari */        
    -moz-user-select: none;         /* Firefox */
    -ms-user-select: none;          /* IE10+/Edge */
    user-select: none;              /* Standard */
}

html::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;

    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 300;
    font-size: max(1.5vmax, 23px);
    text-rendering: optimizeLegibility;
    color:white;
    
}

.background {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position-y: 50%;
}


/*================= Header =================*/
/*========= Nav bar =========*/
@media screen and (max-width: 320px){
    .background{
        background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1)), url(/src/media/vaporcomp3.jpg);
    }

    .nav-bar{
        background: #1b1b1b;
        padding: 0 10%;
    }

    .nav-items {
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        margin-top: 13vh;
        display:none;
        padding-bottom: 3%;
    }

    .nav-items li {
        display:block;
        text-align: center;
    }

    .nav-bar h1{
        float:left;
        margin: 27.5px auto;
        font-size: 20px; 
    }
    
    .nav-toggle {
        float:right;
        font-size: 25px;
        margin-top: 27.5px;
    }

    .title{
        font-size: max(1vmax, 18px);
        transform: translate(-50%, -50%);
    }

    .about-info{
        display: flex;
        flex-direction: column;
    }

}
@media screen and (min-width: 320px){
    .background{
        background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1)), url(/src/media/vaporcomp3.jpg);
    }
    .nav-bar{
        background: #1b1b1b;
        padding: 0 10%;
    }

    .nav-items {
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        margin-top: 80px;
        display:none;
        padding-bottom: 3%;
    }

    .nav-items li {
        display:block;
        text-align: center;
    }

    .nav-bar h1{
        float:left;
        margin: 25px auto;
        font-size: max(2vmax, 25px);
    }
    
    .nav-toggle {
        float:right;
        font-size: 25px;
        margin-top: 27.5px;
    }

    .title{
        font-size: max(1vmax, 20px);
        transform: translate(-50%, -50%);
    }

    .about-info{
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 480px){
    .background{
        background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1)), url(/src/media/vaporcomp3.jpg);
    }
    .nav-bar{
        background: #1b1b1b;
        padding: 0 10%;
    }

    .nav-items {
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        margin-top: 80px;
        display:none;
        padding-bottom: 3%;
    }

    .nav-items li {
        display:block;
        text-align: center;
    }

    .nav-bar h1{
        float:left;
        margin: 20px auto;
        font-size: max(2vmax, 30px);
    }

    .nav-toggle {
        float:right;
        font-size: 30px;
        margin-top: 25px;
    }

    .title{
        font-size: max(1vmax, 20px);
        transform: translate(-50%, -50%);
    }
    .about-info{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px){
    .background{
        background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1)), url(/src/media/vaporcomp.jpg);
    }
    .nav-bar{
        background: #1b1b1b;
        padding: 0 10%;
    }

    .nav-items {
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        margin-top: 80px;
        display:none;
        padding-bottom: 3%;
    }

    .nav-items li {
        display:block;
        text-align: center;
    }

    .nav-bar h1{
        float:left;
        margin: 20px auto;
        font-size: max(2vmax, 30px);
    }

    .nav-toggle {
        float:right;
        font-size: 30px;
        margin-top: 25px;
    }

    .title{
        font-size: max(1.5vmax, 23px);
        transform: translate(-73%, -50%);
    }
    .about-info{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px){
    .background{
        background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1)), url(/src/media/vaporcomp.jpg);
    }

    .nav-bar{
        background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(146, 53, 53, 0));
        padding: 0 15%;
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        float:right;
        margin: 0;
        margin-top: 27.5px;
    }

    .nav-items li {
        margin-left: 20px;
    }

    .nav-bar h1{
        float:left;
        margin: 20px auto;
        font-size: max(2vmax, 30px); 
    }

    .nav-toggle {
        display: none;
    }

    .title{
        font-size: max(1.5vmax, 23px);
        transform: translate(-73%, -50%);
    }

    .about-info{
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px){
    .background{
        background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1)), url(/src/media/vaporcomp.jpg);
    }

    .nav-bar{
        background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(146, 53, 53, 0));
        padding: 0 15%;
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        float:right;
        margin: 0;
        margin-top: 27.5px;
    }

    .nav-items li {
        margin-left: 20px;
    }

    .nav-bar h1{
        float:left;
        margin: 1.5vmax auto;
        font-size: max(2vmax, 30px);
    }

    .nav-toggle {
        display: none;
    }

    .title{
        font-size: max(1.5vmax, 23px);
        transform: translate(-73%, -50%);
    }

    .about-info{
        display: flex;
        flex-direction: row;
    }

}

.nav-bar{
    z-index: 1;
    position: fixed;
    width: 100%;
    margin: 0 auto;
}

.nav-items-dropped{
    display:flex;   
    list-style-type: none;
}


.nav-items li:hover {
    filter: drop-shadow(3px 3px 1px #861212) drop-shadow(4px 4px 1px #6bccf8);
    transition: drop-shadow 2s;
}






/*========= Title =========*/
.title{  
    transform-origin: center; 
    position: absolute;
    display: block;
    top: 50%;
    left:50%;
    color: white;
    text-align: center;
}
.title h2{
    border-top-width: 2px;
    border-top-color: #bc383883;
    border-top-style: solid;
}


/*================= Section =================*/
.section{
    padding: 5% 10%;
    height: 100vh;
}
.avatar {
    margin: auto;
    width: min(300px, 70%);
    border-radius: 50%;
    border-style: solid;
    border-color: #22889680;
  }


.about {
    padding: 10% 15%;
    width: 100%;
}
.about h1{
    background-color: #df4f3c80;
    margin: 0 auto 2% auto;
    width: 100%;
}

.about p {
    padding: 6%;
    text-align: justify;
}

.about-block { 
    padding: 2%;
    text-align: center;
    background: #2b2b2bf5;

    /* box-shadow: -10px 0px #df4f3c80, 10px 0px #22889680; */
    color:rgb(255, 255, 255); 
}



.buffer {
    height: 100vh;
    background-color: transparent;
}

/*========= about-me =========*/

/*========= projects =========*/